{% extends "page.html" %}

{% block seo %}
  {% set state_name_in_url = term.permalink | trim_end_matches(pat="/") | split(pat="/") | last %}
  {% set section = get_section(path="state/_index.md") %}
  
  {% if section.extra.state_pages[state_name_in_url] %}
    {% set_global state_page = get_page(path=section.extra.state_pages[state_name_in_url])%}
  {% endif %}
  {% if state_page and state_page.title %}
    {% set_global title = state_page.title %}
  {% else %}
    {% set_global title = term.name %}
  {% endif %}
  
  {% set title_addition = "" %}
    {% if config.extra.title_separator %}
      {% set title_separator = " " ~ config.extra.title_separator ~ " " %}
    {% else %}
      {% set title_separator = " | " %}
    {% endif %}
  
  {% if config.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% else %}
    {% set title_addition = "" %}
  {% endif %}
  
  {% if state_page and state_page.description %}
    {% set description = state_page.description %}
  {% else %}
    {% set description = config.description %}
  {% endif %}
  
  {{ macros_head::seo(title=title, title_addition=title_addition, description=description) }}
{% endblock seo %}

{% block body %}
  {% if page.extra.class %}
    {% set page_class = page.extra.class %}
  {% else %}
    {% set page_class = "contributors list" %}
  {% endif %}
{% endblock body %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <article class="taxonomies>
          <h1 class="text-center">{{ title }}</h1>
          {% if state_page and state_page.content %}<div class="text-center">{{ state_page.content | safe }}</div>{% endif %}
			    <div class="card-list">
            {% for page in term.pages %}
					    <div class="card">
						    <div class="card-body">
							     <strong>
                        <a class="stretched-link" href="{{ page.permalink }}">{{ page.title }}</a>
                    </strong>
                    <span class="description" style="float:right;">{{ page.description }}</span>
                    <p class="description" style="text-align: right;">
                      {% for category in page.taxonomies.categories %}
                        <code class="{{ category }}" title="Category">{{ category }}</code>
                      {% endfor %}
                      {% if page.taxonomies.status %}
                      {% for state in page.taxonomies.status %}
                        <small class="{{ state }}" style="float:left;" title="Project State">{{ state }}</small>
                      {% endfor %}
                      {% endif %}
                      {% for framework in page.taxonomies.frameworks %}
                        <code class="{{ framework }}" title="Framework">{{ framework }}</code>
                      {% endfor %}
                      {% for compatibility in page.taxonomies.mobile_compatibility %}
                        <code class="{{ compatibility }}" title="Mobile compatibility">{{ compatibility }}</code>
                      {% endfor %}
                    </p>
					    	</div>
					    </div>
				    {% endfor %}
			    </div>
            <p><a href="..">&#8592; Back to all {{ taxonomy.name }}</a></p>
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock content %}


