{# Default page template used for lists contents #}

{% extends "page.html" %}

{% block extra_head %}
  {{ macros_lists::archivelist_head() }}
{% endblock extra_head %}


{% block seo %}
  {# This value is matched by the config.extra.menu.main->section #}
  {% set_global current_section = 'lists' %}
  {{ super() }}

{% endblock seo %}

{% block body %}
  {% set page_class = "lists single" %}
{% endblock body %}

{% block header %}
  {{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="page-header list-header">
          <h1>{{ page.title }}</h1>
    </div>
          {{ macros_lists::archivelist_body() }}
        <article>
          {{ page.content | safe }}
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

